{% extends 'main/mainpage.html' %}
{% load static%}
{% block content %}
    <div style="text-align: center">
        <table class="tabledaman">
        <tr>
          <th>Год</th>
            <th>Средняя зарплата</th>
          <th>Средняя зарплата - C#</th>
          <th>Количество вакансий</th>
            <th>Количество вакансий - C#</th>
        </tr>
          {% for item in tabledemand %}
        <tr>
          <td>{{ item.year }}</td>
          <td>{{ item.salary }}</td>
          <td>{{ item.salary_by_prof }}</td>
          <td>{{ item.count }}</td>
          <td>{{ item.count_by_prof }}</td>
        </tr>
          {% endfor %}
            </table>
        <div style="padding: 30px 10% 0 10%">
            <img width="48%" src="{{ infopage.graph_left.url }}"/>
            <img width="48%" src="{{ infopage.graph_right.url }}"/>
        </div>
    </div>

{% endblock %}