{% extends 'HomePage/main.html' %}
{% load static %}
{% block content %}

<h1>Анализ навыков для профессии C# разработчик </h1>
<hr>
    <h2>Статистика по годам</h2>
<hr>
<table class="strong" >
    {% for item in data %}
    <tr>
        <th>{{ item.year }}</th>
        <td>{{ item.first_skill }}</td>
        <td>{{ item.second_skill }}</td>
        <td>{{ item.third_skill }}</td>
        <td>{{ item.forth_skill }}</td>
        <td>{{ item.fifth_skill }}</td>
        <td>{{ item.sixth_skill }}</td>
        <td>{{ item.seventh_skill }}</td>
        <td>{{ item.eighth_skill }}</td>
        <td>{{ item.ninth_skill }}</td>
        <td>{{ item.tenth_skill }}</td>
    </tr>
    {% endfor %}
</table>
<h2>Статистические графики</h2>
<hr>
{% for item in graphs %}
<p class="aligncenter">
<img style="width:1000px;margin-right:6%" src="{{ item.pic.url }}" alt="Графики Востребованности"/>
</p>
{% endfor %}
{% endblock %}