{% extends 'HomePage/main.html' %}
{% load static %}
{% block content %}

<h1> Географический анализ для профессии C# разработчик </h1>
<hr>
    <h2>Статистика по городам</h2>
<hr>

<div class="flex">
<table  class="strong">
      <tr>
        <th>Город</th>
          <th>Уровень зарплат</th>
      </tr>
    {% for item in data_salary %}
    <tr>
        <td>{{ item.city }}</td>
        <td>{{ item.salary }}</td>
    </tr>
    {% endfor %}
</table>
    <table class="strong">
      <tr>
        <th>Город</th>
          <th>Доля вакансий</th>
      </tr>
    {% for item in data_procent %}
    <tr>
        <td>{{ item.city }}</td>
        <td>{{ item.procent }}</td>
    </tr>
    {% endfor %}
</table>
</div>
<h2>Статистические графики</h2>
<hr>
{% for item in data_graphs %}
<p class="aligncenter">
<img  src="{{ item.pic.url }}" alt="Графики Востребованности"/>
</p>
{% endfor %}
{% endblock %}